<div class="game-reviews-list-item group d-flex flex-column mb-3">
    <div class="game-review-title">
        <span> <%= game_review.title %> </span>
    </div>
    <div class="game-review-text">
        <textarea name="review-text" id="" cols="75" rows="5" class="form-control disabled">
            <%= game_review.Text %>
        </textarea>
    </div>
</div>