<% if session[:logged_in_user_id] && (session[:logged_in_user_id] != user.id) && (!User.find(session[:logged_in_user_id]).followed.include? user) %>
    <a class="user-page__user-action-button" href="#" >
        <i class="fas fa-user-plus fa-xl"></i>
    </a>
<% end %>