<div class="user-page__user-avatar-image-container">
    <img class="img-fluid" src="<%= user.avatar.attached? ? url_for(user.avatar) : '/assets/images/default-profile.png' %>" alt="" class="user-page-avatar-image">
</div>
